@model IEnumerable<WebBTL.Models.Role>

@{
    ViewBag.Title = "Quản lý quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Quản lý quyền truy cập</h2>
    <br />
    <div class="d-flex justify-content-end">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })

    </div>

    <br />
    <table class="table ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RoleID }, new {@class = "btn btn-primary"})   
                    @Html.ActionLink("Details", "Details", new { id = item.RoleID }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoleID }, new { @class = "btn btn-primary" })

                </td>
            </tr>
        }

    </table>
</div>