@model PagedList.IPagedList<WebBTL.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navbar{

    <div class="container-fluid bgtop2 ">
        <nav class="navbar navbar-expand-lg bg-warning  fixed-top">
            <div class="container ">
                <a class="navbar-brand " href="#"><img src="~/Content/images/logo.png" alt="Alternate Text" style="width:100; max-width:100px;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header bg-warning">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body  bg-warning">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Home/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Pages/About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Products/Index">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tblTinTuc/Index">Tin tức</a>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <a href="#" class="text-decoration-none text-black">Login</a>
                            <a href="#" class="text-decoration-none px-3 py-1 rounded-4 text-black" style="background-color:blue;">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
}

<section style="margin-top:97px">
    <div class="bannerTinTuc">
        <div class="container" style="padding-top:50px">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <span style="color:#FFF; font-size:24px;">SẢN PHẨM</span>

                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />


@* list product *@
<section>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-md-4">
                    <div class="card border-warning mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="@Url.Action("Details", "Products", new { id = item.ProductID})">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                                </a>
                               
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@item.ProductName</h5>
                                    <h6 class="text-warning">
                                        @(item.Price.HasValue ? item.Price.Value.ToString("C", new System.Globalization.CultureInfo("vi-VN")) : "N/A")
                                    </h6>

                                    <p>@item.ShortDesc</p>
                                    <div class="row">
                                        <a href="@Url.Action("Details", "Products", new { id = item.ProductID})" class="btn btn-warning col-sm-4 col-md-4" style="margin-right:10px; max-height:40px">Chi tiết</a>                                      
                                        <a href="#" class="btn btn-outline-warning col-sm-6 col-md-6 text-black" style="max-height:40px;"><i class="fas fa-shopping-cart" style="color: #000;"></i>Mua hàng</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }

        </div>
    </div>
</section>


@* phan trang  *@
<div aria-label="Page navigation example">
    <ul class="pagination d-flex justify-content-end" style="margin-top: 20px;">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
            {

                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,

                DisplayEllipsesWhenNotShowingAllPageNumbers = true,



                LinkToPreviousPageFormat = "<button class='btn btn-secondary mr-3'>Previous</button>",
                LinkToNextPageFormat = "<button class='btn btn-secondary ml-3'>Next</button>",



            })
    </ul>
</div>
