@model WebBTL.Models.Page

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Page</h4>
        <hr />
        <dl class="dl-horizontal">
            <div class="row">
                <dt class="col-sm-6 col-md-6">
                    @Html.DisplayNameFor(model => model.PageName)
                </dt>

                <dd class="col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.PageName)
                </dd>
            </div>

            <div class="row">
                <dt class="col-sm-6 col-md-6">
                    @Html.DisplayNameFor(model => model.Contents)
                </dt>

                <dd class="col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.Contents)
                </dd>
            </div>

            <div class="row">
                <dt class="col-sm-6 col-md-6">
                    
                    @Html.DisplayNameFor(model => model.Thumb)
                </dt>

                <dd class="col-sm-6 col-md-6">
                    <img src="@Url.Content(@Model.Thumb)" alt="Alternate Text" style="width: 150px;" />
                </dd>
            </div>

            <div class="row">
                <dt class="col-sm-6 col-md-6">
                    @Html.DisplayNameFor(model => model.Published)
                </dt>

                <dd class="col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.Published)
                </dd>
            </div>

            <div class=" row">
                <dt class="col-sm-6 col-md-6">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd class="col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.Title)
                </dd>
            </div>

            <div class="row">
                <dt class="col-sm-6 col-md-6">
                    @Html.DisplayNameFor(model => model.MetaDesc)
                </dt>

                <dd class="col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.MetaDesc)
                </dd>
            </div>

            <div class="row">
                <dt class="col-sm-6 col-md-6">
                    @Html.DisplayNameFor(model => model.MetaKey)
                </dt>

                <dd class="col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.MetaKey)
                </dd>
            </div>

            <div class="row">
                <dt class="col-sm-6 col-md-6">
                    @Html.DisplayNameFor(model => model.Alias)
                </dt>

                <dd class="col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.Alias)
                </dd>
            </div>

            <div class="row">
                <dt class="col-sm-6 col-md-6">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>

                <dd class="col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>
            </div>

            <div class="row">
                <dt class="col-sm-6 col-md-6">
                    @Html.DisplayNameFor(model => model.Ordering)
                </dt>

                <dd class="col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.Ordering)
                </dd>
            </div>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PageID }, new {@class = "btn btn-primary"}) 
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
    </p>
</div>