@model PagedList.IPagedList<WebBTL.Models.Customer>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h2>Khách hàng</h2>
    <form method="get">
        <div class="row">
            <div class="d-flex justify-content-end mr-3">
                <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" class="form-control" placeholder="Tim kiem theo" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Lọc</button>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </div>
    </form>


    <br />
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].AccountID)</th>
            <th>@Html.DisplayNameFor(model => model[0].CustomerID)</th>
            <th>@Html.DisplayNameFor(model => model[0].FullName)</th>
            @*<th>@Html.DisplayNameFor(model => model[0].Birthday)</th>
        <th>@Html.DisplayNameFor(model => model[0].Avatar)</th>
        <th>@Html.DisplayNameFor(model => model[0].Address)</th>
        <th>@Html.DisplayNameFor(model => model[0].Email)</th>
        <th>@Html.DisplayNameFor(model => model[0].Phone)</th>*@
            <th>@Html.DisplayNameFor(model => model[0].District)</th>
            @*<th>@Html.DisplayNameFor(model => model[0].Ward)</th>*@
            @*<th>@Html.DisplayNameFor(model => model[0].CreateDate)</th>
        <th>@Html.DisplayNameFor(model => model[0].Password)</th>
        <th>@Html.DisplayNameFor(model => model[0].Salt)</th>*@
            <th>@Html.DisplayNameFor(model => model[0].LastLogin)</th>
            @*<th>@Html.DisplayNameFor(model => model[0].Active)</th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="trow_@item.CustomerID">
                <td>@Html.DisplayFor(modelItem => item.AccountID)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerID)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                @*<td>@Html.DisplayFor(modelItem => item.Birthday)</td>
        <td>@Html.DisplayFor(modelItem => item.Avatar)</td>
        <td>@Html.DisplayFor(modelItem => item.Address)</td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>@Html.DisplayFor(modelItem => item.Phone)</td>*@
                <td>@Html.DisplayFor(modelItem => item.District)</td>
                @*<td>@Html.DisplayFor(modelItem => item.Ward)</td>
        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
        <td>@Html.DisplayFor(modelItem => item.Password)</td>
        <td>@Html.DisplayFor(modelItem => item.Salt)</td>*@
                <td>@Html.DisplayFor(modelItem => item.LastLogin)</td>
                @*<td>@Html.DisplayFor(modelItem => item.Active)</td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }, new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerID }, new { @class = "btn btn-outline-info" })
                    <a href="#" data-id="@item.CustomerID" class="btn btn-outline-warning btnDelete">Delete</a>
                </td>
            </tr>
        }
    </table>
    <div aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-end" style="margin-top: 20px;">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchTerm = ViewBag.SearchTerm }),
                new PagedListRenderOptions
                {

                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always,

                    DisplayEllipsesWhenNotShowingAllPageNumbers = true,



                    LinkToPreviousPageFormat = "<button class='btn btn-secondary mr-3'>Previous</button>",
                    LinkToNextPageFormat = "<button class='btn btn-secondary ml-3'>Next</button>",



                })
        </ul>
    </div>




</div>

<style>
    .pagination li {
        margin: 0 10px;
    }
</style>

@section scripts {
    <script>
        $(document).ready(function () {

            $('body').on('click', '.btnDelete', function () {

                var id = $(this).data('id');


                var conf = confirm('Bạn có muốn xóa sản phẩm này không?');
                if (conf === true) {

                    $.ajax({
                        url: '/Admin/AdminCustomers/Delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {

                                $('#trow_' + id).remove();
                                alert('Xóa khách hàng thành công');
                            } else {

                                alert('Không thể xóa khách hàng. Vui lòng thử lại.');
                            }
                        },
                        error: function (xhr, status, error) {

                            console.error('Error occurred:', error);
                            alert('Có lỗi xảy ra: ' + xhr.responseText);
                        }
                    });
                }
            });
        });
    </script>
}
